#colorForm {padding-bottom:10px;}
#rightHome {
    background-color:#fff;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#leftHome {
    background-color:#fff;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

@media (min-width: 992px) {
    #rightHome {
        min-height:380px;
    }
    #leftHome {
min-height:380px;
    }
}


@media (max-width: 992px) {
    #rightHome {
        -webkit-border-radius:0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    #leftHome {
        background-color:#fff;
        -webkit-border-radius:0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}